.overlay {
    @include box($width: 100%, $height: 100%);
    background-image: url("./../../blur-clean.jpg");
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}